@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder {
    color: #2841A5; /* Cambia el color del placeholder aquí */
}
.css-1hv8oq8-MuiStepLabel-label{
    color: white;
}
.css-j5w0w9-MuiStepConnector-root{
    display: none;
}

.css-1rtg91x-MuiDateCalendar-root{
    width: 100% !important;

}

.css-31ca4x-MuiPickersFadeTransitionGroup-root{
    color: #2841A5 !important;
}

.css-1rv8zyt-MuiStack-root{
    display: grid !important;
    justify-content: center;}

.css-e784if-MuiTypography-root{
    border-bottom-width: medium;
    border-color: rgb(37 99 235); 
}

.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root{
    font-size: 1rem !important;
}


.css-e784if-MuiTypography-root{
    display: grid !important;
    justify-content: center;
    color: #2841A5;
    font-size: 1.5rem !important;
}

.css-23p0if-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
    background-color: #E86D0E !important;
    font-size: 1rem !important;
}

.css-1vooibu-MuiSvgIcon-root{
    color: #E86D0E !important;
}


.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel{
    color: black !important;
    font-size: large !important;
}

.css-flbe84-MuiDayCalendar-weekContainer{
    margin-top: 0.5rem !important;
}


.css-i4bv87-MuiSvgIcon-root{
    color: #2841A5;
}

.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
    font-size: 1rem !important;
    color: #2841A5;
}

.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 50%; /* flex: 0 0 100% */
    min-width: 0;
}

.ff-main{
    font-family: 'Rubik', sans-serif;
}

.ff-secondary{
    font-family: 'Kameron', sans-serif;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: #ff0055; /* #88ff00, #9ac2f6 */
    transform-origin: 0%;
}