@tailwind base;
@tailwind components;
@tailwind utilities;

/* vars */


.bg-container-cart{background: #263A83}

.bg-cart{background:#1C2550;}

.bg-orange{background:#E86D0E;}

.color-orange{color: #E86D0E;}

.font-main{font-family: "Inter",sans-serif;}

.font-secondary{font-family: "Kameron",sans-serif;}

.color-blue{color:#467FEA;}